:root{
    --bg-color: #C9DABF;
    --primary-color:#9CA986;
    --segundary-color:#808D7C;
    --font:"Raleway", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}
header{
    background-color: var(--primary-color);
    text-align: center;
}
h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;

}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
    
}